<div class="app-layout" [class.sidebar-collapsed]="isSidebarCollapsed" [class.sidebar-overlay]="isSidebarOverlay" [class.login-page]="isLoginPage">
  <app-header *ngIf="!isLoginPage"></app-header>
  <app-sidebar *ngIf="!isLoginPage"></app-sidebar>
  
  <main class="app-content" [class.sidebar-collapsed]="isSidebarCollapsed" [class.sidebar-overlay]="isSidebarOverlay" [class.login-content]="isLoginPage">
    <router-outlet></router-outlet>
  </main>
  
  <app-footer *ngIf="!isLoginPage"></app-footer>
  
  <!-- Global Dialog Component -->
  <app-dialog></app-dialog>
  
  <!-- Global PrimeNG Toast -->
  <p-toast position="bottom-right"></p-toast>
</div>
